# ===============================
# BUILD Mode configuration
# ===============================
BUILD_MODE=development

# If you want to override the electron binary name, uncomment the following var
# ELECTRON_OVERRIDE_DIST_PATH=/path/to/custom/electron/binary

# ===============================
# Analytics & Telemetry
# ===============================
POSTHOG_API_KEY=...
VITE_POSTHOG_API_KEY=...

# Used for source map uploading during packaging
POSTHOG_CLI_API_KEY=...
POSTHOG_CLI_PROJECT_ID=...
POSTHOG_CLI_HOST=https://eu.posthog.com


# ===============================
# stagewise Auth & API
# ===============================
API_URL=https://api.stagewise.io

# Link to the standard stagewise LLM proxy service
LLM_PROXY_URL=https://api.stagewise.io/v1/ai

# Link to console for account management (both must be same)
STAGEWISE_CONSOLE_URL=https://console.stagewise.io
VITE_STAGEWISE_CONSOLE_URL=https://console.stagewise.io


# URL that the app checks for updates
UPDATE_SERVER_ORIGIN=https://dl.stagewise.io


# ===============================
#  Prod build secrets
# ===============================

# Apple prod build (signing & notarization)
APPLE_ID=...
APPLE_PASSWORD=...
APPLE_TEAM_ID=...

# Windows prod build (Azure Trusted Signing)
AZURE_TENANT_ID=...
AZURE_CLIENT_ID=...
AZURE_CLIENT_SECRET=...
AZURE_ACCOUNT_NAME=...
AZURE_ACCOUNT_ENDPOINT_URI=...
AZURE_CERTIFICATE_PROFILE_NAME=...

# ===============================
# Licensed dependencies
# ===============================
NUCLEO_LICENSE_KEY=...