POSTHOG_API_KEY=...
VITE_POSTHOG_API_KEY=...

# Used for source map uploading during packaging
POSTHOG_CLI_API_KEY=...
POSTHOG_CLI_PROJECT_ID=...
POSTHOG_CLI_HOST=https://eu.posthog.com

API_URL=...

STAGEWISE_CONSOLE_URL=...
VITE_STAGEWISE_CONSOLE_URL=...

LLM_PROXY_URL=...

DEVELOPER_TAG=...

BUILD_MODE=development

NUCLEO_LICENSE_KEY=...


SUPABASE_URL=...
SUPABASE_PUBLISHABLE_KEY=...