:host {
  all: initial;
  @apply text-zinc-950;
  font-family: "Inter", "Noto Color Emoji", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "SF Compact", "SF Pro", "Helvetica Neue", sans-serif !important;
  font-weight: normal !important;
  letter-spacing: normal !important;
  line-height: normal !important;
  text-rendering: auto !important;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  interpolate-size: allow-keywords;
}

@layer defaults {
  :host * {
    min-height: 0;
    min-width: 0;
    position: relative;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@supports (font-variation-settings: normal) {
  :host {
    font-family: "InterVariable", "Noto Color Emoji", -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "SF Compact", "SF Pro",
      "Helvetica Neue", sans-serif !important;
    font-optical-sizing: auto !important;
  }
}

@theme default {
  --color-background: var(--color-white);
  --color-foreground: var(--color-zinc-950);
  --color-muted: var(--color-zinc-100);
  --color-muted-foreground: var(--color-zinc-700);
  --color-border: var(--color-zinc-500);
}

#headlessui-portal-root {
  @apply fixed h-screen w-screen z-50;
}

#headlessui-portal-root > * {
  @apply pointer-events-auto;
}
