@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --color-fd-background: #fff;
  --color-fd-foreground: #09090b;
  --color-fd-primary: #9810fa;
  /* --color-fd-secondary: #ec4899; */
  /* Add more as needed */
}
.dark {
  --color-fd-background: #09090b;
  --color-fd-foreground: #fff;
  /* ... */
}
